<div *ngIf="products.length > 0; else noProducts">
  <ng-template [ngTemplateOutlet]="productList" [ngTemplateOutletContext]="{products: products}"></ng-template>
  <ng-template [ngTemplateOutlet]="productList2" [ngTemplateOutletContext]="{products: products}"></ng-template>
</div>


<ng-template #productList let-products="products">
  <h2>Vertical product list</h2>
  <div *ngFor="let product of products">
    <div class="card mb-3">
      <div class="row">
        <div class="col-3">
        <img src="/assets/images/{{product.imageUrl}}" alt="{{product.name}}" class="img-fluid rounded-start">
        </div>
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos iure, neque provident nisi maiores atque distinctio ullam laudantium exercitationem eligendi.<br><h4>{{product.price + "$"}}</h4></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #productList2 let-products="products">
  <h2>Horizontal Product List</h2>
  <div class="row">
    <div *ngFor="let product of products" class="col-3">
      <div *ngIf="product.isActive" class="card mb-3">
        <img src="/assets/images/{{product.imageUrl}}" alt="{{product.name}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos iure, neque provident nisi maiores atque distinctio ullam laudantium exercitationem eligendi.<br><h4>{{product.price + "$"}}</h4></p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noProducts>
  <div class="alert alert-warning">
    No Products!
  </div>
</ng-template>
