<div class="card mb-3">
  <div class="row">
    <div class="col-3">
      <img src="/assets/images/iphone_14_2.jpg" alt="iphone 14" class="img-fluid rounded-start">
    </div>
    <div class="col-9">
        <div class="card-body">
          <h5 class="card-title">Iphone 14</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos iure, neque provident nisi maiores atque distinctio ullam laudantium exercitationem eligendi.</p>
        </div>
    </div>
  </div>
</div>
